[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sympy = "*"
numba = "*"
scipy = "*"
scikit-learn = "*"
sorcery = "*"
pandas = "*"
joblib = "*"
matplotlib = "*"
networkx = "*"

[dev-packages]
ipython = "*"
